.App {
  width: 80%;
  margin: auto;
  padding: 10px;
}
button {
  padding: 5px;
  text-align: center;
  display: block;
  width: 100%;
}
input {
  padding: 5px;
  margin: 10px 0px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}
